.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Set the height of the container to fill the entire viewport */

}

.card {
    background-color: #fffafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 25px #4f93db;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    height: 580px;
    width: 475px;
    top: 15px;

}
.image-logo{
    width: 200px;
    margin-bottom: 10px;
}

input[type="radio"] {
    /* Hide the default radio button appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0;
  }
  
  /* Custom radio button style */
  input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
  }
  
  input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    background-color: #fff;
  }
  
  /* Radio button label text */
  input[type="radio"] + label span {
    position: relative;
    top: -2px;
  }
  
  /* Checked radio button style */
  input[type="radio"]:checked + label:before {
    background-color: #2196F3; /* Change this color to match your desired selection color */
    border-color: #2196F3; /* Change this color to match your desired selection color */
  }
  
  /* Responsive styles using media queries */
  /* Adjust radio button size for smaller screens */
  @media (max-width: 768px) {
    input[type="radio"] + label:before {
      width: 18px;
      height: 18px;
    }
  
    input[type="radio"] + label span {
      font-size: 14px;
    }
  }