.Apigee-Checkbox-Page{
    background-color: #D1DCF7;
    background-size: cover;
    height:100vh;
    
  }
  .curved-button-nav img,
  .left-options img {
    height: auto;
    width: 20px;
  }

  /* CSS for the checkboxes*/

  .containerCheck {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  text-align: left;
  top:25px;
  left: 15px;

}

/* Hide the browser's default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmarkCheck {
    display: block;
    position: absolute;
    top: 0;
    left: 17px;
    height: 25px;
    width: 25px;
    background-color: #cdecec;
    margin-top: 5px;

  }
  
  /* On mouse-over, add a grey background color */
  .containerCheck:hover input ~ .checkmarkCheck {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheck input:checked ~ .checkmarkCheck {
    background-color: #2196F3;
  }
  
  /* Create the checkmarkCheck/indicator (hidden when not checked) */
  .checkmarkCheck:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmarkCheck when checked */
  .containerCheck input:checked ~ .checkmarkCheck:after {
    display: block;
  }
  
  /* Style the checkmarkCheck/indicator */
  .containerCheck .checkmarkCheck:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .curved-button {
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #99d8ff;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: inset 0 1px 7px #2864C8;
    /* margin-top: 50px;
    margin-right: 20px;
    margin-left: 180px; */
    width: 140px;
    font-size: 15px;
    font-weight: bold;
    margin: auto
  }
  .illustration-image{
    position: absolute;
    left: 201px;
    top: 34%;
    z-index: 3;
  }
  .vector {
    position: absolute;
    bottom: 0;
    right: 0;
    }
    .card {
        background-color: #fffafa;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 25px #4f93db;
        text-align: center;
        align-items: center;
        border-radius: 23px;
        height: 560px;
        width: 530px;
        top: 15px;
    }

    @media only screen and (max-width: 600px) {
      .card {
        background-color: #fffafa;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 25px #4f93db;
        text-align: center;
        align-items: center;
        border-radius: 23px;
        height: 700px;
        width: 530px;
        top: 5px;
    }
    .curved-button {
      padding: 10px 40px;
      border-radius: 30px;
      background-color: #99d8ff;
      color: black;
      border: none;
      cursor: pointer;
      outline: none;
      transition: background-color 0.3s, border-color 0.3s, color 0.3s;
      box-shadow: inset 0 1px 7px #2864C8;
      margin: auto
    }
  }

  @media only screen and (min-width: 768px) {
    .card {
      background-color: #fffafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 25px #4f93db;
      text-align: center;
      align-items: center;
      border-radius: 23px;
      height: 560px;
      width: 530px;
      top: 5px;
  }
  }
  @media only screen and (min-width: 1400px) {
    .card {
      background-color: #fffafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 25px #4f93db;
      text-align: center;
      align-items: center;
      border-radius: 23px;
      height: 560px;
      width: 530px;
      top: 5px;
  }
  .illustration-image{
    position: absolute;
    left: 200px;
    top: 32%;
    z-index: 3;
  }
  }

  @media only screen and (min-width: 2400px) {
    .card {
      background-color: #fffafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 25px #4f93db;
      text-align: center;
      align-items: center;
      border-radius: 23px;
      height: 960px;
      width: 700px;
      top: 5px;
  }
  .illustration-image{
    position: absolute;
    left: 600px;
    top: 54%;
    z-index: 3;
  }
  .curved-button {
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #99d8ff;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: inset 0 1px 7px #2864C8;
    /* margin-top: 50px;
    margin-left: 250px; */
    margin: auto
  
  }
  }