.Apigee-Checkbox-Page{
    background-color: #D1DCF7;
    background-size: cover;
    height:100vh;
    
  }
  .curved-button-nav img,
  .left-options img {
    height: auto;
    width: 20px;
  }
  .curved-button-nav{
    padding: 5px;
    border-radius: 10px;
    margin: 0px 10px ;
  }
  .navbar-custom{
    background-color: #7DC4EC;
    height: 60px;
    box-shadow: 0 1px 25px #4f93db;
  }
  .checkbox-logo{
    width:190px;
    height: 100%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* CSS for the checkboxes*/

  .containerCheck {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  text-align: left;
  top:25px;
  left: 15px;

}

/* Hide the browser's default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmarkCheck {
    display: block;
    position: absolute;
    top: 0;
    left: 17px;
    height: 25px;
    width: 25px;
    background-color: #cdecec;
    margin-top: 2px;

  }
  
  /* On mouse-over, add a grey background color */
  .containerCheck:hover input ~ .checkmarkCheck {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheck input:checked ~ .checkmarkCheck {
    background-color: #2196F3;
  }
  
  /* Create the checkmarkCheck/indicator (hidden when not checked) */
  .checkmarkCheck:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmarkCheck when checked */
  .containerCheck input:checked ~ .checkmarkCheck:after {
    display: block;
  }
  
  /* Style the checkmarkCheck/indicator */
  .containerCheck .checkmarkCheck:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .curved-button {
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #99d8ff;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: inset 0 1px 7px #2864C8;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 180px;
    width: 140px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .checkbox-illustration-image{
    position: absolute;
    margin-left: 265px;
    margin-top: 13%;
    z-index: 3;
  }
  .vector {
    position: absolute;
    bottom: 0;
    right: 0;
    }
    .checkbox-card {
        background-color: #fffafa;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 25px #4f93db;
        text-align: center;
        align-items: center;
        border-radius: 23px;
        height: 560px;
        width: 530px;
        margin-top: 55px;
        margin-left: 600px;
        position: relative;
        overflow: hidden;
    }
    .centered-checkbox-card {
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh; Set the height of the container to fill the entire viewport */
    
    }

    /*media queries */

    @media (max-width: 1150px) {
      .checkbox-illustration-image{
          visibility: hidden;
      }
  }

  @media  (max-width: 1440px) {
    .checkbox-logo{
      width:190px;
      height: 100%;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .checkbox-illustration-image{
      position: absolute;
      /* left: 120px;
      top: 63%;
      z-index: 3; */
      left: 120px;
      top: 63%;
      z-index: 3;
  }
  
  .checkbox-card {
    background-color: #fffafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 25px #4f93db;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    height: 560px;
    width: 530px;
    margin-top: 56px;
    margin-left: 450px;
    position: relative;
    overflow: hidden;
  }
  }

  @media (min-width:426) and (max-width: 768px) {
    .checkbox-logo{
      width:100px;
      height: 100%;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .checkbox-card {
      background-color: #fffafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 25px #4f93db;
      text-align: center;
      align-items: center;
      border-radius: 23px;
      height: 530px;
      width: 100px;
      /* margin-top: 40px;
      margin-left: 100px; */
      margin-top: 56px;
      margin-left: 130px;
      position: relative;
      overflow: hidden;
  }
  .curved-button {
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #99d8ff;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: inset 0 1px 7px #2864C8;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 180px;
    width: 140px;
    font-size: 15px;
    font-weight: bold;
  }
    
  }

  @media (max-width: 1024px) {
    .checkbox-logo{
      width:190px;
      height: 100%;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .centered-checkbox-card {
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh; Set the height of the container to fill the entire viewport */
    
    }
  .checkbox-card {
    background-color: #fffafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 25px #4f93db;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    height: 560px;
    width: 530px;
    /* margin-top: 55px;
    margin-left: 390px; */
    margin-top: 56px;
    margin-left: 170px;
    margin-right: 110px;
    overflow: hidden;
}
.curved-button {
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #99d8ff;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  box-shadow: inset 0 1px 7px #2864C8;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 180px;
  width: 140px;
  font-size: 15px;
  font-weight: bold;
}
    
  }

  @media (max-width: 425px) {
    .checkbox-card {
      background-color: #fffafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 25px #4f93db;
      text-align: center;
      align-items: center;
      border-radius: 23px;
      height: 950px;
      width: 530px;
      /* margin-top: 55px;
      margin-left: 550px; */
      margin-top: 20px;
      margin-left: 110px;
      margin-right: 10px;
      overflow: hidden;
  }
  .curved-button{
    margin-right: 40px;
  }
  }



