/* CSS for Imex page */
.imex-page {
  position: relative;
  height: 100vh;
}

.imex-right-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Change the width to cover the entire background */
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1; /* Set z-index to 1 to appear above other elements */
}

/* Rest of the CSS remains unchanged */
.imex-content-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 3;
}

.imex-illustration {
  position: absolute;
  bottom: 110px;
  left: 175px;
  width: 35%;
  height: auto;
  z-index: 6;
  right: -10px;
}

.imex-illustration img {
  max-width: 100%;
  height: auto;
}

.imex-card {
  background-color: white;
  border-radius: 23px;
  padding: 20px;
  box-shadow: 0 1px 25px #4f93db;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 475px;
  width: 475px;
  z-index: 5;
  position: relative;
  overflow: hidden; /* Hide any content that overflows from the card */
}

.imex-logo-container {
  position: absolute;
  top: 40px;
  left: 49%;
  transform: translateX(-50%);
  margin-right: 1px;
  right: 12%;
}

.imex-logo {
  width: 100%;
  height: 100%;
}

.imex-heading {
  margin-bottom: 0px;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  color: #333333;
  margin-top: 150px;
  margin-right: 11px;
}

.imex-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.imex-curved-button {
  padding: 15px 40px;
  border-radius: 30px;
  background-color: #99d8ff;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 1px 7px #2864C8;
  margin-top: 20px;
  width: 148px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 12px;
}

.imex-curved-button:hover {
  box-shadow: inset 0 1px 2px #2864C8, 0 0 0 1px #2864C8;
  background-color: white;
  color: #2864C8;
}

.imex-curved-button:focus {
  border-color: #2864C8;
  color: white;
}

.vector {
  position: absolute;
  bottom: 0;
  right: 0;
}

.behind-image {
  position: absolute;
  top: 30%; /* Adjust the top and left values to position the image */
  left: 50%;
  width: 200px; /* Set the width and height to match the size of the image */
  height: 200px;
  background-image: url('../images/behind.png'); /* Set the background image */
  background-size: cover;
  transform: translate(-50%, -50%); /* Center the image */
  z-index: 2; /* Place the image behind the buttons */
}

@media (max-width: 1150px) {
  .imex-illustration {
    visibility: hidden; /* Hide the image for smaller screen sizes */
  }
}

@media (max-width: 1023px) {
  .imex-logo-container {
    left: 50% !important;
    transform: translateX(-50%);
    top: 30px;
    width: 200px;
  }

  .imex-card {
    height: 400px !important;
    width: 350px;
  }
}

@media (max-width: 767px) {
  .imex-logo-container {
    top: 10px;
    width: 150px;
  }

  .imex-card {
    height: 350px !important;
    width: 300px;
  }

  .imex-heading {
    font-size: x-large;
  }

  .imex-curved-button {
    width: 120px;
  }
}
