.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 25px;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-custom {
    background-color: #7DC4EC; /* Light Blue */
    height: 60px;
    box-shadow: 0 1px 25px #4f93db;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    margin-top: 8px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: #f5f6f9;
    border-radius: 50%;
    border-color: #4f93db;
    border-style: solid;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #f7f9fa;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: rgb(23, 5, 222);
  }
  .illustration-image1{
    position: absolute;
    left: 250px;
    top: 33%;
    z-index: 3;
  }
  .curved-button-navbar {
    padding: 10px 10px;
    border-radius: 25px;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: inset 0 1px 5px #96b1ce;
    margin-right: 35px;
    margin-left: 8px;
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    background-color: #85b5e9;
    /* margin: auto; */
  }
  .Apigee-Options-Page{
    background-color: #D1DCF7;
    background-size: cover;
    height: 100vh;
    
  }
  /*adding media queries */

  @media (max-width: 767px) {
    .card {
      background-color: #fffafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 25px #4f93db;
      text-align: center;
      align-items: center;
      border-radius: 23px;
      height: 580px;
      width: 475px;
      top: 15px;
  }
  .navbar-custom {
    background-color: #7DC4EC; /* Light Blue */
    height: 60px;
    box-shadow: 0 1px 25px #4f93db;
  }
  .illustration-image1{
    display: none;
  }
  .image-logo{
      margin-top: 10px;
      width: 200px
  }
  .navbar-custom{
    display: none;
  }

  .curved-button-nav {
    padding: 7px;
    border-radius: 10px;
    margin: 0px 10px ;
  }

  .curved-button-nav img,
  .left-options img {
    height: auto;
    width: 20px;
  }
  .curved-button-navbar {
    padding: 10px 10px;
    border-radius: 25px;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: inset 0 1px 5px #96b1ce;
    margin-right: 35px;
    margin-left: 8px;
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    /* margin: auto; */
  }

}

/* Responsive styles for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    background-color: #fffafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 25px #4f93db;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    height: 550px;
    width: 440px;
    top: 15px;
}
.illustration-image1{
  display: none;
}
.image-logo{
    margin-top: 10px;
    width: 200px
}
.navbar-custom{
  display: none;
}
.curved-button-navbar {
  padding: 10px 10px;
  border-radius: 25px;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  box-shadow: inset 0 1px 5px #96b1ce;
  margin-right: 35px;
    margin-left: 8px;
    width: 140px;
  font-size: 18px;
  font-weight: bold;
  /* margin: auto; */
  margin-top: 18px;
}
  
}

/* Responsive styles for desktop */
@media (min-width: 1400px) {
  .card {
    background-color: #fffafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 25px #4f93db;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    /* height: 600px; */
    width: 500px;
    top: 15px;
}
.illustration-image1{
  position: absolute;
  left: 228px;
  height: 350px;
  top: 32%;
  z-index: 3;
}
.image-logo{
    margin-top: 10px;
    width: 200px
}
.navbar-custom{
  display: none;
}
.curved-button-navbar {
  padding: 10px 10px;
  border-radius: 25px;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  box-shadow: inset 0 1px 5px #96b1ce;
  margin-right: 35px;
  margin-left: 8px;
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  background-color: #85b5e9;
  /* margin: auto; */
}
}

@media (min-width: 2400px) {
  .card {
    background-color: #fffafa;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 25px #4f93db;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    height: 900px;
    width: 700px;
    top: 15px;
}
.illustration-image1{
  position: absolute;
  left: 630px;
  height: 450px;
  top: 50%;
  z-index: 3;
}
.image-logo{
    margin-top: 10px;
    width: 200px
}
.curved-button-navbar {
  padding: 10px 10px;
  border-radius: 25px;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  box-shadow: inset 0 1px 5px #96b1ce;
  margin-right: 35px;
  margin-left: 8px;
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  /* margin: auto */
}

}
